<h2>Employee Dashboard</h2>

<!-- Button to navigate to the ViewProducts action method  -->
<a asp-action="ViewProducts" class="btn btn-info">View Products</a>

<!-- Button to navigate to the CreateFarmer action method -->
<a asp-action="CreateFarmer" class="btn btn-primary">Add Farmer Profile</a>
